@model  ErgasiaMVC.Models.Appointment


@{
    ViewBag.Title = "AvailableTime";
}

<div class="user-credentials">
    <input type="button" value="Αποσύνδεση" onclick="location.href='@Url.Action("Index","Home")'" />
</div>

<h2>Διαθέσιμες Ώρες</h2>  
<p>Παρακαλώ επιλέξτε μία απο τις παρακάτω διαθέσιμες ώρες.</p>
<!--Πινακας καθετος με κουμπιά που περιέχουν τις ώρες με διαθεσιμότητα 
    πχ 10:00-10:30|| 10:30-11:00 κλπ κλπ-->



