@model E_Doctor1.Models.ListModel<ErgasiaMVC.Models.AvailableDate>
@{
    ViewBag.Title = "AvailableDates";
}

<style>
    td, th {
        border: 1px solid black;
        padding: 20px;
    }

    table, tr {
        border-collapse: collapse;
    }

    input[type=text] {
        width: 100%;
    }

    th {
        height: 50px;
        text-align: center;
    }
</style>

<div class="user-credentials">
    <input type="button" value="Αποσύνδεση" onclick="location.href='@Url.Action("Index","Home")'" />
</div>

<h2>Διαθέσιμες Ημερομηνίες</h2>
<table>
    <thead>
        <tr>
            <th>
                ΔΕΥΤΕΡΑ
            </th>
            <th>
                ΤΡΙΤΗ
            </th>
            <th>
                ΤΕΤΑΡΤΗ
            </th>
            <th>
                ΠΕΜΠΤΗ
            </th>
            <th>
                ΠΑΡΑΣΚΕΥΗ
            </th>
        </tr>
    </thead>
</table>

<!-- Κουμπιά/action με ονομα γιατρου και ωρες διαθεσιμότητας
    πχ 
    Δευτερα 24/01/2022         ||  Τρίτη
    ----------------------------------------------------
    Γεωργιου 09:00-18:00       ||
    Παπαδοπουλος 12:00-20:00   ||
    -->
