@model ErgasiaMVC.Models.Patient
@{
    ViewBag.Title = "Index";
    ViewBag.Controller = "PatientMainPage";
}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        
    }

    h2 {
        border-bottom: 1px solid black;
        width: 100%;
        padding-left: 120px;
    }

    button {
        border-radius: 10px;
        font-size: 2.5rem;
        background-color: black;
        color: white;
        cursor: pointer;
    }

        button:hover {
            color: lightgrey;
        }
</style>

<h2>Kεντρικό Μενού Ασθενή</h2>
<div class="text-center">
    <h1 class="display-4">Καλώς ήρθατε στην σελίδα E-Doctor.</h1>
    <p>Παρακαλώ επιλέξτε μια από τις παρακάτω ενέργειες για να συνεχίσετε.</p>
    <br /><br />

    <button onclick="location.href='@Url.Action("SpecialtyChoice","PatientMainPage", Model)'">Online Κράτηση Νέου Ραντεβού</button> <br /><br />
    <button onclick="location.href='@Url.Action("ViewAppointmentsPatient","PatientMainPage", Model)'">Προβολή Ραντεβού</button>

</div>