@model ErgasiaMVC.Models.Patient
@{
    ViewBag.Title = "SpecialtyChoice";
}

<div class="user-credentials">
    <input type="button" value="Αποσύνδεση" onclick="location.href='@Url.Action("Index","Home")'" />
</div>

<h1>Επιλογή Ειδικότητας Ιατρού</h1>
<p>Παρακαλώ επιλέξτε μία από της παρακάτω ειδηκότητες που σας ενδιαφέρει.</p>
<br />
<p>Για να προχωρήσετε στην επιλογή ώρας, ημέρας και ιατρού πρέπει να πατήσετε επάνω στο κουμπί που αναγράφεται η ειδηκότητα που σας ενδιαφέρει.</p>
<br />
@using (Html.BeginForm("AvailableDates", "PatientMainPage"))
{
    <input type="hidden" value="@Model.user_id" name="patient_id" />
    <input type="hidden" value="1" name="specialty" />
    <button type="submit">Παθολόγος</button>
}
<br />
@using (Html.BeginForm("AvailableDates", "PatientMainPage"))
{
    <input type="hidden" value="@Model.user_id" name="patient_id" />
    <input type="hidden" value="2" name="specialty" />
    <button type="submit">Οφθαλμίατρος</button>
}
<br />
@using (Html.BeginForm("AvailableDates", "PatientMainPage"))
{
    <input type="hidden" value="@Model.user_id" name="patient_id" />
    <input type="hidden" value="3" name="specialty" />
    <button type="submit">Ορθοπεδικός</button>
}


