@model ErgasiaMVC.Models.Doctor
@{
    ViewBag.Title = "Index";
}

<h2>Index Doctor Main Page</h2>
<div class="text-center">
    <h1 class="display-4">Καλώς ήρθατε Ιατρέ @Model.first_name στην σελίδα E-Doctor.</h1>
    <p>Παρακαλώ επιλέξτε μια από τις παρακάτω ενέργειες.</p>
 

    <button onclick="location.href='@Url.Action("AvailableDates","DoctorMainPage", @Model)'">Καταχώρηση Διαθεσιμότητας</button>
    <button onclick="location.href='@Url.Action("ViewAppointmentsDoctor","DoctorMainPage", @Model)'">Προβολή Ραντεβού</button>

</div>

