
@{
    ViewBag.Title = "ViewAppointmentsDoctor";
}

<div class="user-credentials">
    <input type="button" value="Αποσύνδεση" onclick="location.href='@Url.Action("Index","Home")'" />
</div>

<h2>Προβολή επόμενων Ραντεβού σας</h2>
<p> </p>

