
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
     <h1>Kεντρικό Μενού Διαχειριστή.</h1>
        <p>Παρακαλώ επιλέξτε μία από της παρακάτω ενέργειες για να συνεχίσετε.</p><br />

        <button onclick="location.href='@Url.Action("DoctorRegister","AdminMainPage")'">Προσθήκη Ιατρου</button><br />
        <button onclick="location.href='@Url.Action("PatientRegister","AdminMainPage")'">Προσθήκη Ασθενή</button><br />

    </div>

